/* You can add global styles to this file, and also import other style files */
/* Reset ========================================== */
// @import './assets/scss/_reset';
/* Variables ====================================== */
@import './assets/scss/_variables';

html, body { padding: 0; margin: 0;}

body { color: $textColor;}
h1, h2, h3, h4, h5, h6 { font-family: $fontTitle;}

.toolbar { background: $mainColor; text-align: center; padding: 0.5rem 0;}